@page "/"
@using Microsoft.AspNetCore.SignalR.Client

<h1>Hello! You are in SignalR with Blazor</h1>
<button class="btn btn-success mt-4" @onclick="async () => await Connection()" disabled="@isConnected">Connect</button>
<div class="row mx-auto my-2">
    <div class="col-md-12 text-center">
        @if (connectionStatus == "Closed")
        {
            <div class="alert alert-danger" role="alert">
                Disconnected
            </div>
        }
        else
        {
            <div class="alert alert-success" role="alert">
                Connected
            </div>
        }
    </div>
</div>
<div class="row my-2 mx-auto">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @foreach (var item in ListMSG)
        {
            <div class="row">@item</div>
        }
    </div>
    <div class="col-md-2"></div>
</div>
@code{
    string url = "http://localhost:53088/notifications";

    HubConnection _connection = null;

    string connectionStatus = "Closed";
    bool isConnected = false;
    List<string> ListMSG = new List<string>();
    private async Task Connection()
    {
        _connection = new HubConnectionBuilder()
            .WithUrl(url)
            .Build();
        isConnected = true;
        await _connection.StartAsync();
        connectionStatus = _connection.State.ToString();

        _connection.Closed += async (s) =>
        {
            isConnected = false;
            connectionStatus = "Closed";
            await _connection.StartAsync();
            isConnected = true;

        };
    }
}
